html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    font-size: 0.9em;

}

main {
    flex: 1 0 auto; /*fill the available space */
    display: flex; /*I just included this! - now a flex container with flex items: sidebar & main content section*/
}

aside {
    flex: 0 0 40px; /* as a flex item: do not grow or shrink. Just stay fixed at 40px*/
    display: flex; /*Now you are a flex-container, you can decide how your flex-items are laid.*/
    flex-direction: column; /*Stack my flex-items vertically... change the default direction. */
    justify-content: space-around; /*interesting... since direction is changed, this works on the vertical direction.*/
    align-items: center; /*Direction is changed! This affects the horizontal direction.*/
    background-color: #f2f2f2;
}

aside i.fa {
    font-size: .9em;
}

.content {
    display: flex;
    flex: 1 0 auto; /*this makes sure the section grows to fill the available space*/
    flex-direction:column;
}

.music-head {
    display: flex;
    flex: 0 0 280px;
    padding: 40px;
    background-color: #4e4e4e;
}

.music-list {
    flex: 1 0 auto;
    list-style-type: none;
    padding: 5px 10px 0px;
}

li {
    display: flex; /*targets each li containing the paragraphs*/
    padding: 0 20px;
    min-height: 50px;
}

li p {
    flex: 0 0 25%; /*places space b/t each p within a li*/
}

li span.catty-cloud {
    border: 1px solid black;
    font-size: 0.6em;
    padding: 4px;
}

li:nth-child(2n) {
    background-color:#f2f2f2;
}

.catty-music {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    font-weight: 300;
    color: #fff;
    padding-left: 50px;
}

.catty-music div:nth-child(1) {
    margin-bottom: auto;
}

.catty-music div:nth-child(2) {
    margin-top: 0;
}

.catty-music div:nth-child(2) i.fa {
    font-size: 0.9em;
    padding: 0 0.7em;
    font-weight: 300;
}

.catty-music div:nth-child(1) p:first-child {
    font-size: 1.8em;
    margin: 0 0 10px;
}

.catty-music div:nth-child(1) p:not(:first-child) {
    font-size: 0.9em;
    margin: 2px 0;
}

footer {
    display: flex;
    flex: 0 0 90px; /*dont' grow or shrink - just stay at a height of 90px.*/
    padding: 10px;
    color: #fff;
    background-color: rgba(61, 100, 158, .9);
}

.current-song {
    display: flex;
    margin-right: auto;
}

.cattyboard-img-footer {
    width: 70px;
}

.song-details {
    margin-left: 20px;
}

.music-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}